body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 40px;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #22c55e;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    background: #1e293b;
    padding: 20px;
}
